@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold.eot");
  src: url("../fonts/RobotoBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoBold.woff") format("woff"),
  url("../fonts/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoRegular.woff") format("woff"),
  url("../fonts/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight.eot");
  src: url("../fonts/RobotoLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoLight.woff") format("woff"),
  url("../fonts/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoMedium.woff") format("woff"),
  url("../fonts/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "RalewayRegular"; */
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular.eot");
    src: url("../fonts//RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayThin"; */
@font-face {
    font-family: "RalewayThin";
    src: url("../fonts/RalewayThin.eot");
    src: url("../fonts/RalewayThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayThin.woff") format("woff"),
    url("../fonts/RalewayThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayExtraLight"; */
@font-face {
    font-family: "RalewayExtraLight";
    src: url("../fonts/RalewayExtraLight.eot");
    src: url("../fonts/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtraLight.woff") format("woff"),
    url("../fonts/RalewayExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayLight"; */
@font-face {
    font-family: "RalewayLight";
    src: url("../fonts/RalewayLight.eot");
    src: url("../fonts/RalewayLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayLight.woff") format("woff"),
    url("../fonts/RalewayLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayMedium"; */
@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewaySemiBold"; */
@font-face {
    font-family: "RalewaySemiBold";
    src: url("../fonts/RalewaySemiBold.eot");
    src: url("../fonts/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewaySemiBold.woff") format("woff"),
    url("../fonts/RalewaySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayBold"; */
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold.eot");
    src: url("../fonts/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBold.woff") format("woff"),
    url("../fonts/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayExtraBold"; */
@font-face {
    font-family: "RalewayExtraBold";
    src: url("../fonts/RalewayExtraBold.eot");
    src: url("../fonts/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtraBold.woff") format("woff"),
    url("../fonts/RalewayExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayBlack"; */
@font-face {
    font-family: "RalewayBlack";
    src: url("../fonts/RalewayBlack.eot");
    src: url("../fonts/RalewayBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBlack.woff") format("woff"),
    url("../fonts/RalewayBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.main {
  background: rgba(58, 194, 205, 0.7); /*#3AC2CD;*/
  background-image: url("../images/phone.png");
  background-size: cover;
}

h1.header {
  font-family: "RobotoLight";
  font-size: 5em;
}

h2 {
  font-family: "RobotoRegular";
  font-size: 1.2em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.description {
  width: 50%;
  float: left;
  margin: 0 20px;
}

.download-button {
  text-decoration: none;
}

.download-button img {
  width: 20%;
}

.features {
  background: #D0F0F3;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.slide-1 .left, .slide-3 .left, .slide-5 .left {
  width: 30%;
}

.slide-1 .right, .slide-3 .right, .slide-5 .right {
  width: 60%;
  margin: 20% auto;
}

.slide-2 .right, .slide-4 .right {
  width: 30%;
}

.slide-2 .left, .slide-4 .left {
  width: 60%;
  margin: 20% auto;
}

.content p {
  font-family: "RobotoRegular";
  font-size: 1.2em;
}

.content h1 {
  font-family: "RobotoLight";
  font-size: 2em;
  text-align: center;

}

.content h3 {
  font-size: 1.5em;
  font-family: "RobotoLight";
}

.screens {
  width: 300px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}